.root {
    -fx-background-color: #222f3e;
    -fx-font-size: 12pt;
}
.button {
    -fx-background-color: #8395a7;
    -fx-background-radius: 0;
}
.button:hover{
    -fx-background-color: #c8d6e5;
}
.label {
    -fx-text-fill: #c8d6e5;
    -fx-padding: 5pt;
}